/* ==========================================================================
   Чекбоксы */

/* ========================================================================== */

.jq-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: transparent;
  border: solid 2px #e74c3c;
  vertical-align: middle;
  cursor: pointer;
}

.jq-checkbox:hover,
label:hover .jq-checkbox {
  border-color: #c0392b;
}

.jq-checkbox:hover.checked .jq-checkbox__div:before,
label:hover .jq-checkbox.checked .jq-checkbox__div:before {
  border-color: #c0392b;
}

.jq-checkbox.checked .jq-checkbox__div:before {
  content: ' ';
  position: absolute;
  border: solid #e74c3c;
  border-width: 0 0 3px 3px;
  height: 3px;
  width: 7px;
  left: 3px;
  top: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.jq-checkbox.focused {
  -webkit-box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.7);
  box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.7);
}

.jq-checkbox.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

/* ==========================================================================
   Радиокнопки */

/* ========================================================================== */

.jq-radio {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: solid 2px #e74c3c;
  background: transparent;
  vertical-align: middle;
  border-radius: 50%;
}

.jq-radio:hover,
label:hover .jq-radio {
  border-color: #c0392b;
}

.jq-radio:hover.checked .jq-radio__div,
label:hover .jq-radio.checked .jq-radio__div {
  background: #c0392b;
}

.jq-radio.checked .jq-radio__div {
  width: 8px;
  height: 8px;
  margin: 4px 0 0 4px;
  border-radius: 50%;
  background: #e74c3c;
}

.jq-radio.focused {
  -webkit-box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.7);
  box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.7);
}

.jq-radio.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

/* ==========================================================================
   Файловые инпуты */

/* ========================================================================== */

.jq-file {
  width: 270px;
  border-radius: 4px;
}

.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em;
}

.jq-file:hover .jq-file__browse,
.jq-file:active .jq-file__browse {
  background: #c0392b;
  border-color: #c0392b;
}

.jq-file:hover .jq-file__name,
.jq-file:active .jq-file__name {
  border-color: #c0392b;
}

.jq-file.disabled {
  color: #95a5a6;
  border-color: #95a5a6;
}

.jq-file.disabled .jq-file__name {
  color: #95a5a6;
  border-color: #95a5a6;
}

.jq-file.disabled:hover .jq-file__browse,
.jq-file.disabled:active .jq-file__browse {
  background: #95a5a6;
  border-color: #95a5a6;
}

.jq-file.disabled .jq-file__browse {
  border-color: #95a5a6;
  background: #95a5a6;
  color: #ecf0f1;
}

.jq-file__name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #e74c3c;
  font: 16px / 28px Arial, Tahoma, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: solid 2px #e74c3c;
  border-radius: 4px;
}

.focused .jq-file__name {
  border-color: #c0392b;
}

.jq-file__browse {
  position: absolute;
  top: 0;
  right: 0;
  color: #ecf0f1;
  font: 16px / 32px Arial, Tahoma, sans-serif;
  padding: 0 10px;
  border-left: solid 2px #e74c3c;
  border-radius: 0 4px 4px 0;
  background: #e74c3c;
}

/* ==========================================================================
   Селекты */

/* ========================================================================== */

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox.disabled .jq-selectbox__select {
  background: #95a5a6;
  color: #ecf0f1;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  opacity: 1;
  filter: alpha(opacity=100);
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 20px;
  padding: 5px 10px 6px;
  color: #ecf0f1;
  border-radius: 4px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.jq-selectbox li.selected {
  background-color: #c0392b;
  color: #ecf0f1;
}

.jq-selectbox li:hover {
  background-color: #2c3e50;
  color: #ffffff;
}

.jq-selectbox li.disabled {
  color: #95a5a6;
}

.jq-selectbox li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #ffffff;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-selectbox__select {
  height: 34px;
  padding: 0 45px 0 10px;
  border-radius: 4px;
  background: #e74c3c;
  color: #ecf0f1;
  font: 16px / 34px Arial, Tahoma, sans-serif;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
  background-color: #c0392b;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 5px solid #ecf0f1;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox__dropdown {
  top: 45px;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 16px / 20px Arial, Tahoma, sans-serif;
  background: #34495e;
  border: solid 2px #34495e;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jq-selectbox__dropdown:before {
  content: ' ';
  position: absolute;
  top: -11px;
  left: 6px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: solid 2px #e74c3c;
  border-radius: 4px;
  background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  color: #34495e;
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  color: #ecf0f1;
  font-size: 14px;
}

.jq-select-multiple {
  border: solid 2px #e74c3c;
  border-radius: 4px;
  background: #ecf0f1;
  color: #34495e;
  font: 16px / 20px Arial, Tahoma, sans-serif;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.jq-select-multiple.focused {
  border-color: #f1c40f;
}

.jq-select-multiple.disabled {
  border-color: #95a5a6;
  background: #95a5a6;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: textColor;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled,
.jq-select-multiple li.disabled,
.jq-select-multiple li.disabled:hover {
  background: #95a5a6;
  color: #34495e;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.jq-select-multiple li:first-child {
  border-radius: 2px 2px 0 0;
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 2px 2px;
}

.jq-select-multiple li.selected,
.jq-select-multiple li:hover {
  background: #e74c3c;
  color: #ecf0f1;
}

.jq-select-multiple li.disabled {
  color: #34495e;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.optgroup:hover {
  background: #ecf0f1;
  color: #34495e;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

.styler {
  padding: 7px 9px;
  border: solid 2px #e74c3c;
  border-radius: 4px;
  color: #34495e;
  font: 16px / 20px Arial, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.styler:hover,
.styler:focus {
  border-color: #c0392b;
  outline: none;
}

input[type="search"].styler {
  -webkit-appearance: none;
}

textarea.styler {
  overflow: auto;
}

button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
  overflow: visible;
  padding: 5px 11px;
  outline: none;
  border: 2px solid #e74c3c;
  border-radius: 4px;
  background: #e74c3c;
  color: #ecf0f1;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.styler:hover,
input[type="button"].styler:hover,
input[type="submit"].styler:hover,
input[type="reset"].styler:hover,
button.styler:focus,
input[type="button"].styler:focus,
input[type="submit"].styler:focus,
input[type="reset"].styler:focus {
  background: #c0392b;
  color: #ffffff;
  border-color: #c0392b;
}

button.styler:active,
input[type="button"].styler:active,
input[type="submit"].styler:active,
input[type="reset"].styler:active {
  background: #e74c3c;
  color: #ecf0f1;
  border-color: #e74c3c;
}

button.styler:after {
  content: '';
}