* {
	margin: 0;
	padding: 0;
}
body {
	overflow-y: scroll;
	background: #F5F5F5;
	font: 15px/18px Arial, sans-serif;
	color: #333;
}
h1 {
	height: 70px;
	margin: 0 0 30px;
	background: #3C454B;
	font-size: 26px;
	font-weight: normal;
	line-height: 68px;
	color: #FFF;
	text-align: center;
	letter-spacing: .5px;
}
h1 a {
	color: #09C98C;
	text-decoration: none;
}
h2 {
	margin: 0 0 15px;
	font-size: 21px;
	line-height: 1;
	color: #444;
}
a {
	color: #08D;
}
a:hover {
	color: #0AD;
}
code {
	padding: 0 3px 1px;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
	background: #F6F6F6;
	color: #EA0000;
}
label {
	cursor: pointer;
}
p {
	margin: 0 0 15px;
}
small {
	font-size: 12px;
}
.wrapper {
	position: relative;
	min-width: 300px;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper:after {
	content: '';
	display: table;
	clear: both;
}
.menu {
	float: left;
	width: 290px;
	margin: 36px 0 0;
	border-radius: 3px;
}
.menu li {
	padding: 9px 0 9px 12px;
	border-top: 1px solid #F5F5F5;
	background: #FFF;
	list-style: none;
	cursor: pointer;
}
.menu li:first-child {
	border-top: none;
	border-radius: 3px 3px 0 0;
}
.menu li:last-child {
	border-radius: 0 0 3px 3px;
}
.menu li:hover,
.menu li.current {
	color: #FFF;
}
.menu li.current {
	background: #F07E6F;
}
.menu li:hover {
	background: #EE6D5B;
}
.content {
	float: right;
	width: 670px;
}
.box {
	position: absolute;
	top: -500px;
	left: 0;
	overflow: hidden;
	height: 100px;
}
.box.visible {
	position: static;
	overflow: visible;
	width: auto;
	height: auto;
}
.section {
	margin: 0 0 20px;
	padding: 20px;
	border-radius: 3px;
	background: #FFF;
}
.section:after {
	content: '';
	display: table;
	clear: both;
}
.section.lh {
	padding: 12px 20px;
	line-height: 40px;
}
.sec {
	float: right;
	width: calc(50% - 10px);
}
.sec:first-child {
	float: left;
}

.number-plus-minus .jq-number {
	padding: 0 38px;
}
.number-plus-minus .jq-number__field {
	width: 60px;
}
.number-plus-minus .jq-number__field input {
	text-align: center;
}
.number-plus-minus .jq-number__spin {
	left: 0;
	height: 32px;
}
.number-plus-minus .jq-number__spin.plus {
	right: 0;
	left: auto;
}
.number-plus-minus .jq-number__spin:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 10px;
	width: 12px;
	height: 2px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin.minus:after {
	display: none;
}
.number-plus-minus .jq-number__spin.plus:after {
	top: 10px;
	left: 15px;
	width: 2px;
	height: 12px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin:hover:before,
.number-plus-minus .jq-number__spin.plus:hover:after {
	background: #000;
}

.jq-selectbox {
	width: 250px;
}
.jq-selectbox.width-auto {
	width: auto;
}
.jq-selectbox.width-200 {
	width: 200px;
}
.maxheight .jq-selectbox__dropdown ul {
	max-height: 203px;
}
.showChanged .jq-selectbox.changed .jq-selectbox__select {
	box-shadow: 0 0 0 5px #CDFF9B;
}

.lang-en,
.lang-en .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;
}
.lang-es,
.lang-es .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNqkk79LHEEUxz8zOx4GdSGVcIRwEEhhZSMBBSF1ENOliUHs0kSwTiv+CWKtdeKZPyDY5ooELESROwJGEe7HnkcgrLczvpk9udNGLvfY786vfd/3fe/NKucco5gamaAK+0KxPCyNylFWZ+Cmy9+g25UdLVCPuEooa8EYrpaXMJls2YuEq48rQymY3t7D+5qXu/J+nxC/6+vyQbD9gGHuBube81mdeAo0HVmkLcLoER9QPfokYxnask6EMdF9+L1rj0b43gTGtBHYa3+gvrNBe3yR1G4xJr4vinKQqb6CO6TNoEYHmbbpqfhr5vlyOEPtIOHpz0065hVEvbQeWrceBkMkp0oUFODiwznzb49pJhP8ujlBryfw1efs8u4MKlASVHw1sRxMCNskVD6v8vxNi/OFiH9JjR8bazDl6yIese2BHE/EJ9aoE+Ervp6D31WiyMlV0MgjQZy025F1IzKrcfcukUWXSlx+r2B8imPj19hiIe+a8l2666WodKpXqEHTROITynMqDdG50KFNEur4ULPktf4fy0b+G28FGACzeZrTM/MAlgAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-de,
.lang-de .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATxJREFUeNqkkztKBEEQhv/q7mkf+EC8gRi5iYOYeQDBwEu4N1gx8gCiBxDWyBNo5h3EMyiC4S4yujPa0w+rRgMjZ9Zt6KApvvr/quqilBJmOQozHpPn+Y1z7jDGOJ2yUrDW3tJWr5eGwyuEEEBEoBZQCpaytdbo949gHD+KssTg+ARZZjjcnqKuPS7OzyCs2fh4RxiPsOkraGVB6u+2JC41eNcwwprTl2fsjR9xUD9xeI4NtDiQqdWfADOrzJpKBH0JrC8BOuPutCSInCBkDSOsCdJ8PwFWFhk23RzErGGENZ7doHLsnh0o3amJiKFhhKV0rRL2d4Di/gfuNEh2vAvcPcBgwoXQK2BZPXX8mBS/GWYNEiuujYAF1UH91wbMM8Ms+Utb6IhlxOm3KCi8ieQ2X/3PXQo06zp/CTAALyGCuAjgGMwAAAAASUVORK5CYII=) no-repeat 0 7px;
}
.lang-ru,
.lang-ru .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNqkk01Ow0AMhZ8zTlMRUUSQuqg4AWyqHCKwoldhzQF6HmADtLkCWSCBxAHYIPEjugCUzEzthn2mxJJnMdI3fs8ek/cefSJCz+CyLC+dczPJ7SpHkeYVe4GLokBjrVyH2iGwMVguFjNmaiH7+yPXYaEE76RQlh/eGky/Gzy+rESSvk0dsIe6PT5MoCyf37zjNX3G/PpJjAlMHTp0as7j4uwIc2EZA/FDMcbZCLGhIAW19Rtmw0KaUbsB9tM9GFEQIsCKAmWUZSQjfCQZOFMHYQ+QHMooS/cD+PzkFHVVtT3onEXbgzjPUd3dgj+HIikewk4m8BQ2SFUQCaMsOxmdiQlmfPBXPECBfgRhlKVlhi/vsLvtTqlYirDSclNJ889dstR3ndcCDABI0W9vitkDJAAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-fr,
.lang-fr .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcRJREFUeNqkk71OG0EUhc+dn13bYGwlZZQ8QHCRgipSKiRaKhrEI4CiPFFSIqWAFJHSR6KhpSASTxDFFhvzY5udmZyZ9S4LZTzSaHdn9p77nXtnJISAVYbCisPI0ckpSr8LT5JIMw+4OHyFYhHg/JJOa/jBAK9HI/in2c9MDP7+cYePuBUwXQCbbzPcLTxc7U4puLUeht++AuvrgDDUGlx92H5vYuZiXmL/y6/KEDNvf3qJ6/mjQFAabmOA4cEe0M9BNODzcWUBAkz4M7qaAvxQAb1Ohnu0BGjBdTvMzgz9HgVKYFosBTgmxEUmJBMEvlprYZhF/KOAMhmQM0nOEMdEN9ctgpljFDclrgRk9JdRoKwrFgm4BivVNCS5bRM8RIFlR42HNpY1cg1BFNCmFtBV/RuCJBAgRqcupBVasE49EfBpXZLVhHrXsvCndFDcTG03klpk6bMtkOpZWxDO+4ZAMClJQDThQQouEuawWbRQHyRTCeSqKqTmc/a3JhCMA6vczdiB+FtSYAzn83PbN9UkEVwjgOn453m/Ocozj8ut3xjPYheWBCygH77Amx8FSYpGj7vTWJF3EfI/75KTVa/zPwEGAOCWsO19nu/2AAAAAElFTkSuQmCC) no-repeat 0 7px;
}
.lang .changed .jq-selectbox__select-text {
	padding-left: 25px;
}
.lang .jq-selectbox li {
	padding-left: 35px;
	background-position: 10px 6px;
}
.lang .jq-selectbox li:first-child {
	padding-left: 10px;
}

.jq-select-multiple.width-400 {
	width: 400px;
}

.buttons {
	float: right;
	width: 270px;
	text-align: right;
}
.button:not([disabled]) {
	height: 32px;
	margin: 3px 0 10px;
	padding: 0 13px;
	border: none;
	border-radius: 4px;
	outline: none;
	background: #EBEBEB;
	box-shadow: 0 1px rgba(0,0,0,.15);
	font: 14px/1 Arial, Tahoma, sans-serif;
	cursor: pointer;
}
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.button:not([disabled]):hover {
	background: #4EA7DC;
	box-shadow: 0 2px rgba(0,0,0,.15);
	color: #FFF;
}
.button:not([disabled]):active {
	position: relative;
	top: 1px;
	background: #2B95D5;
	box-shadow: none;
}
.button:after {
	content: '';
}
.lh .button {
	margin: 10px 0 0;
}
.jq-file {
	margin: 3px 0 0;
}
.color1 {
	background: #FFE8AA;
}
.color2 {
	background: #D2FFAA;
}
.css input,
.css textarea,
.css button {
	margin: 0 0 20px;
}
.css input[type='text'],
.css input[type='password'],
.css textarea {
	width: 375px;
}
.css input[type='number'] {
	width: 50px;
}
.css code {
	position: relative;
	top: 7px;
	vertical-align: top;
	margin-left: 6px;
}

/* Media Queries
-----------------------------------------------------------------------------*/
@media screen and (max-width: 999px) {
	.menu {
		position: fixed;
		z-index: 101;
		top: 0;
		left: -320px;
		width: 320px;
		height: 100%;
		margin: 0;
		border-radius: 0;
		background: #FFF;
		transition: left .25s ease-in;
	}
	.menu-active .menu {
		left: 0;
	}
	.menu li {
		padding: 14px 18px;
	}
	.menu li:first-child,
	.menu li:last-child {
		border-radius: 0;
	}

	.menu-toggle {
		position: absolute;
		top: 22px;
		left: 20px;
		width: 40px;
		height: 26px;
		box-shadow: inset 0 4px #FFF,
			inset 0 11px #3C454B,
			inset 0 15px #FFF,
			inset 0 22px #3C454B,
			inset 0 26px #FFF
		;
	}
	.menu-toggle:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 5px;
		width: 5px;
		background: #3C454B;
	}

	.menu-overlay {
		position: fixed;
		z-index: 101;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.4);
	}

	h1 {
		font-size: calc(.2rem + 2.7vmin);
	}

	.wrapper {
		max-width: 670px;
	}

	.content {
		float: none;
		width: auto;
	}

	.css input[type='text'],
	.css input[type='password'],
	.css textarea {
		display: block;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
	}
	.css input[type='text'] + code,
	.css input[type='password'] + code,
	.css textarea + code {
		display: table;
		margin: 0 0 27px;
	}
	.css textarea + code + br {
		display: none;
	}
}
@media screen and (max-width: 639px) {
	h1 {
		box-sizing: border-box;
		padding: 11px 0 0 40px;
		font-size: 19px;
		line-height: 1.3;
		letter-spacing: 0;
	}
	h1 a:before {
		content: '';
		display: block;
	}

	.section,
	.section.lh {
		margin-right: -10px;
		margin-left: -10px;
		padding: 15px 10px;
	}

	.sec,
	.sec:first-child {
		float: none;
		width: auto;
	}
	.sec:last-child {
		margin: 20px 0 0;
	}

	.buttons {
		float: none;
		width: auto;
		margin: 8px 0 10px;
		text-align: left;
	}
	.buttons:after {
		content: '';
		display: table;
		clear: both;
	}

	.button:not([disabled]) {
		float: left;
		margin: 0 10px 10px 0;
	}

	.css input,
	.css button {
		margin: 0;
	}
	.css code {
		display: table;
		margin: 0 0 27px;
	}
	.css code + br {
		display: none;
	}
}