* {
	margin: 0;
	padding: 0;
}
body {
	overflow-y: scroll;
	padding: 83px 0 0;
	background: #F7F5F2;
	font: 15px/18px Arial, sans-serif;
	color: #333;
}
h1 {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #D0CFCE;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
	font-size: 30px;
	line-height: 68px;
	color: #444;
	text-align: center;
}
h1 a {
	background: -webkit-linear-gradient(#08D 1px, #FFF 0) 0 31px;
	background:         linear-gradient(#08D 1px, #FFF 0) 0 31px;
	text-decoration: none;
	text-shadow: -1px 0 #FFF, -2px 0 #FFF, -3px 0 #FFF, 1px 0 #FFF, 2px 0 #FFF, 3px 0 #FFF;
}
h1 a:hover {
	background: -webkit-linear-gradient(#0AD 1px, #FFF 0) 0 31px;
	background:         linear-gradient(#0AD 1px, #FFF 0) 0 31px;
}
@media screen and (max-width: 620px) {
	h1 {
		font-size: 15px;
	}
	h1 a {
		background-position: 0 15px;
	}
}
h2 {
	margin: 0 0 10px;
	font-size: 23px;
	line-height: 1;
	color: #444;
}
a {
	color: #08D;
}
a:hover {
	color: #0AD;
}
code {
	padding: 0 3px 1px;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
	background: #F6F6F6;
	color: #EA0000;
}
label {
	cursor: pointer;
}
p {
	margin: 0 0 15px;
}
small {
	font-size: 12px;
}
.wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.wrapper:after {
	content: '';
	display: table;
	clear: both;
}
.menu {
	position: fixed;
	float: left;
	width: 284px;
	padding: 1px;
	border: 1px solid #D8D7D6;
	border-radius: 3px;
	background: #E8EDF1;
	background: #FFF;
}
@media screen and (max-width: 1000px) {
	.menu {
		position: absolute;
	}
}
.menu li {
	height: 36px;
	padding: 0 0 0 12px;
	border-top: 1px solid #F7F5F2;
	list-style: none;
	line-height: 36px;
	cursor: pointer;
}
.menu li:first-child {
	border-top: none;
	border-radius: 2px 2px 0 0;
}
.menu li:last-child {
	border-radius: 0 0 2px 2px;
}
.menu li:hover,
.menu li.current {
	color: #FFF;
}
.menu li.current {
	background: #F07E6F;
}
.menu li:hover {
	background: #EE6D5B;
}
.content {
	float: right;
	width: 700px;
}
.box {
	position: absolute;
	top: -2000px;
	left: 0;
	overflow: hidden;
	height: 100px;
}
.box.visible {
	position: static;
	overflow: visible;
	width: auto;
	height: auto;
}
.section {
	margin: 0 0 12px;
	padding: 20px 25px 22px;
	border: 1px solid #D8D7D6;
	border-radius: 3px;
	background: #FFF;
}
.section:after {
	content: '';
	display: table;
	clear: both;
}
.section.lh {
	padding: 12px 25px;
	line-height: 40px;
}
.sec {
	float: right;
	width: 290px;
}
.sec:first-child {
	float: left;
	width: 330px;
}

.number-plus-minus .jq-number {
	padding: 0 38px;
}
.number-plus-minus .jq-number__field {
	width: 60px;
}
.number-plus-minus .jq-number__field input {
	text-align: center;
}
.number-plus-minus .jq-number__spin {
	left: 0;
	height: 32px;
}
.number-plus-minus .jq-number__spin.plus {
	right: 0;
	left: auto;
}
.number-plus-minus .jq-number__spin:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 10px;
	width: 12px;
	height: 2px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin.minus:after {
	display: none;
}
.number-plus-minus .jq-number__spin.plus:after {
	top: 10px;
	left: 15px;
	width: 2px;
	height: 12px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin:hover:before,
.number-plus-minus .jq-number__spin.plus:hover:after {
	background: #000;
}

.jq-selectbox {
	width: 250px;
}
.jq-selectbox.width-auto {
	width: auto;
}
.jq-selectbox.width-200 {
	width: 200px;
}
.maxheight .jq-selectbox__dropdown ul {
	max-height: 203px;
}
.showChanged .jq-selectbox.changed .jq-selectbox__select {
	box-shadow: 0 0 0 5px #CDFF9B;
}

.lang-en,
.lang-en .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;
}
.lang-es,
.lang-es .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNqkk79LHEEUxz8zOx4GdSGVcIRwEEhhZSMBBSF1ENOliUHs0kSwTiv+CWKtdeKZPyDY5ooELESROwJGEe7HnkcgrLczvpk9udNGLvfY786vfd/3fe/NKucco5gamaAK+0KxPCyNylFWZ+Cmy9+g25UdLVCPuEooa8EYrpaXMJls2YuEq48rQymY3t7D+5qXu/J+nxC/6+vyQbD9gGHuBube81mdeAo0HVmkLcLoER9QPfokYxnask6EMdF9+L1rj0b43gTGtBHYa3+gvrNBe3yR1G4xJr4vinKQqb6CO6TNoEYHmbbpqfhr5vlyOEPtIOHpz0065hVEvbQeWrceBkMkp0oUFODiwznzb49pJhP8ujlBryfw1efs8u4MKlASVHw1sRxMCNskVD6v8vxNi/OFiH9JjR8bazDl6yIese2BHE/EJ9aoE+Ervp6D31WiyMlV0MgjQZy025F1IzKrcfcukUWXSlx+r2B8imPj19hiIe+a8l2666WodKpXqEHTROITynMqDdG50KFNEur4ULPktf4fy0b+G28FGACzeZrTM/MAlgAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-de,
.lang-de .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATxJREFUeNqkkztKBEEQhv/q7mkf+EC8gRi5iYOYeQDBwEu4N1gx8gCiBxDWyBNo5h3EMyiC4S4yujPa0w+rRgMjZ9Zt6KApvvr/quqilBJmOQozHpPn+Y1z7jDGOJ2yUrDW3tJWr5eGwyuEEEBEoBZQCpaytdbo949gHD+KssTg+ARZZjjcnqKuPS7OzyCs2fh4RxiPsOkraGVB6u+2JC41eNcwwprTl2fsjR9xUD9xeI4NtDiQqdWfADOrzJpKBH0JrC8BOuPutCSInCBkDSOsCdJ8PwFWFhk23RzErGGENZ7doHLsnh0o3amJiKFhhKV0rRL2d4Di/gfuNEh2vAvcPcBgwoXQK2BZPXX8mBS/GWYNEiuujYAF1UH91wbMM8Ms+Utb6IhlxOm3KCi8ieQ2X/3PXQo06zp/CTAALyGCuAjgGMwAAAAASUVORK5CYII=) no-repeat 0 7px;
}
.lang-ru,
.lang-ru .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNqkk01Ow0AMhZ8zTlMRUUSQuqg4AWyqHCKwoldhzQF6HmADtLkCWSCBxAHYIPEjugCUzEzthn2mxJJnMdI3fs8ek/cefSJCz+CyLC+dczPJ7SpHkeYVe4GLokBjrVyH2iGwMVguFjNmaiH7+yPXYaEE76RQlh/eGky/Gzy+rESSvk0dsIe6PT5MoCyf37zjNX3G/PpJjAlMHTp0as7j4uwIc2EZA/FDMcbZCLGhIAW19Rtmw0KaUbsB9tM9GFEQIsCKAmWUZSQjfCQZOFMHYQ+QHMooS/cD+PzkFHVVtT3onEXbgzjPUd3dgj+HIikewk4m8BQ2SFUQCaMsOxmdiQlmfPBXPECBfgRhlKVlhi/vsLvtTqlYirDSclNJ889dstR3ndcCDABI0W9vitkDJAAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-fr,
.lang-fr .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcRJREFUeNqkk71OG0EUhc+dn13bYGwlZZQ8QHCRgipSKiRaKhrEI4CiPFFSIqWAFJHSR6KhpSASTxDFFhvzY5udmZyZ9S4LZTzSaHdn9p77nXtnJISAVYbCisPI0ckpSr8LT5JIMw+4OHyFYhHg/JJOa/jBAK9HI/in2c9MDP7+cYePuBUwXQCbbzPcLTxc7U4puLUeht++AuvrgDDUGlx92H5vYuZiXmL/y6/KEDNvf3qJ6/mjQFAabmOA4cEe0M9BNODzcWUBAkz4M7qaAvxQAb1Ohnu0BGjBdTvMzgz9HgVKYFosBTgmxEUmJBMEvlprYZhF/KOAMhmQM0nOEMdEN9ctgpljFDclrgRk9JdRoKwrFgm4BivVNCS5bRM8RIFlR42HNpY1cg1BFNCmFtBV/RuCJBAgRqcupBVasE49EfBpXZLVhHrXsvCndFDcTG03klpk6bMtkOpZWxDO+4ZAMClJQDThQQouEuawWbRQHyRTCeSqKqTmc/a3JhCMA6vczdiB+FtSYAzn83PbN9UkEVwjgOn453m/Ocozj8ut3xjPYheWBCygH77Amx8FSYpGj7vTWJF3EfI/75KTVa/zPwEGAOCWsO19nu/2AAAAAElFTkSuQmCC) no-repeat 0 7px;
}
.lang .changed .jq-selectbox__select-text {
	padding-left: 25px;
}
.lang .jq-selectbox li {
	padding-left: 35px;
	background-position: 10px 6px;
}
.lang .jq-selectbox li:first-child {
	padding-left: 10px;
}

.jq-select-multiple.width-400 {
	width: 400px;
}

.buttons {
	float: right;
	width: 270px;
	text-align: right;
}
.button:not([disabled]) {
	height: 32px;
	margin: 3px 0 10px;
	padding: 0 13px;
	border: none;
	border-radius: 4px;
	outline: none;
	background: #EBEBEB;
	box-shadow: 0 1px rgba(0,0,0,.15);
	font: 14px/1 Arial, Tahoma, sans-serif;
	cursor: pointer;
}
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.button:not([disabled]):hover {
	background: #4EA7DC;
	box-shadow: 0 2px rgba(0,0,0,.15);
	color: #FFF;
}
.button:not([disabled]):active {
	position: relative;
	top: 1px;
	background: #2B95D5;
	box-shadow: none;
}
.button:after {
	content: '';
}
.lh .button {
	margin: 10px 0 0;
}
.jq-file {
	margin: 3px 0 0;
}
.color1 {
	background: #FFE8AA;
}
.color2 {
	background: #D2FFAA;
}
.css input,
.css textarea,
.css button {
	margin: 0 0 20px;
}
.css input[type='text'],
.css input[type='password'],
.css textarea {
	width: 375px;
}
.css input[type='number'] {
	width: 50px;
}
.css code {
	position: relative;
	top: 7px;
	vertical-align: top;
	margin-left: 6px;
}